@model NguyenNhutDuy_2122110447.Models.DonHang


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <style>
<<<<<<< HEAD
        body {
            background: url('/Content/image/hinh-nen-powerpoint-tet-14-3.png') no-repeat center center;
            background-size: cover;
            background-attachment: fixed;
            height: 90vh;
            color: aliceblue
        }

        .custom-btn {
            color: gold;
            text-decoration: none;
            font-weight: bold;
            cursor: pointer;
        }
    </style>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
=======
    body {
        background: url('/Content/image/hinh-nen-powerpoint-tet-14-3.png') no-repeat center center;
        background-size: cover;
        background-attachment: fixed;
        height: 90vh;
        color:aliceblue
    }
    .custom-btn {
        color: gold;
        text-decoration: none;
        font-weight: bold;
        cursor: pointer;
    }
    </style>
>>>>>>> f511d44531c3462afc24e4e10c40606d84f43b9e
</head>
<body>
    @using (Html.BeginForm("Update", "Order", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

<<<<<<< HEAD
    <div class="form-horizontal">
        <h4>Đơn hàng</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            Địa chỉ
            <div class="col-md-10">
                @Html.TextBoxFor(
                    model => model.DiaChi,
                    new { @class = "form-control", id = "DiaChiInput", type = "text", required = "required" }
                )
                @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-light" })
            </div>
        </div>

        <div class="form-group">
            Tên
            <div class="col-md-10">
                @Html.TextBoxFor(
                        model => model.Ten,
                        new { @class = "form-control", id = "TenInput", type = "text", required = "required" }
                    )
                @Html.ValidationMessageFor(model => model.Ten, "", new { @class = "text-light" })
            </div>
        </div>

        <div class="form-group">
            Loại
            <div class="col-md-10">
                @Html.TextBoxFor(
                            model => model.Loai,
                            new { @class = "form-control", id = "LoaiInput", type = "text", required = "required" }
                        )
                @Html.ValidationMessageFor(model => model.Loai, "", new { @class = "text-light" })
            </div>
        </div>

        <div class="form-group">
            Cân nặng(kg)
            <div class="col-md-10">
                @Html.EditorFor(model => model.CanNang, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CanNang, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Tên người nhận
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenNguoiNhan, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenNguoiNhan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Sdt, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Sdt, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Sdt, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            GIá trị đơn hàng
            <div class="col-md-10">
                @Html.EditorFor(model => model.GiaTriDonHang, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GiaTriDonHang, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Tổng tiền
            <div class="col-md-10">
                @Html.EditorFor(model => model.TongTien, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TongTien, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Ghi chú
            <div class="col-md-10">
                @Html.EditorFor(model => model.GhiChu, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GhiChu, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group d-flex m-2">
            <div>
                <button class="btn custom-btn" onclick="history.back()">Quay về</button>
            </div>
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-warning" />
            </div>

        </div>
    </div>
    }

=======
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.DiaChi, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Ten, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Ten, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Ten, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Loai, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Loai, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Loai, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CanNang, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CanNang, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CanNang, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TenNguoiNhan, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TenNguoiNhan, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TenNguoiNhan, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Sdt, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Sdt, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Sdt, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.GiaTriDonHang, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.GiaTriDonHang, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.GiaTriDonHang, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TongTien, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TongTien, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TongTien, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.GhiChu, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.GhiChu, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.GhiChu, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Lưu" class="btn btn-warning" />
                </div>
            </div>
        </div>
    }

    <div>
        <button class="btn custom-btn" onclick="history.back()">Quay về</button>
    </div>

>>>>>>> f511d44531c3462afc24e4e10c40606d84f43b9e
</body>
</html>
