@model NguyenNhutDuy_2122110447.Models.NhanVien

<div style="color:black">
    <p><strong>Địa chỉ:</strong> @Model.TenNhanVien</p>
    <p><strong>Tên:</strong> @Model.ThuongTru</p>
    <p><strong>Loại:</strong> @Model.Sdt</p>
    <p><strong>Cân nặng:</strong> @Model.Gmail</p>
    <p><strong>Tên người nhận:</strong> @Model.Khoi</p>
    <p><strong>Tổng tiền:</strong> @String.Format("{0:0,0}", Model.Luong) VND</p>
</div>
